input{
	font-size: 20px;
	outline: none !important;
	border: none !important;
	background: none !important;
	background-color: none !important;
	-webkit-appearance: none !important;
	-webkit-tap-highlight-color: transparent !important;
}
label{
	font-size: 20px;
}
.page-in{
	padding: 15px;
	font-family: Arial;
}
