.row-date-select-out{
	user-select: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(100, 100, 100, 0.3);
	top: 0;
	left: 0;
	transition: all .5s;
	opacity: 0;
	&.fade-in{
		opacity: 1;
	}
	&.fade-out{
		opacity: 0;
	}
}

.row-date-select{
	.btn-holder{
		display: inline-block;
		width: 100%;
		span{
			width: 33.333333333%;
			float: left;
		}
	}
	&.slide-up{
		bottom: 0;
	}
	&.slide-down{
		bottom: -750px;
	}
	transition: all .5s;
    position: absolute;
    width: 100%;
    bottom: -750px;
    background: #fff;
    padding-bottom: 30px;
	.out-items{
		height: 150px;
	    overflow: hidden;
	    display: inline-block;
	    box-sizing: border-box;
	    width: 33.33333333%;
	    p{
	    	height: 30px;
    		margin: 0;
    		line-height: 30px;
    		float: right;
    		padding-right: 20%;
	    }
	}
	.selects-holder{
		position: relative;
	}
	.line-mark{
		width: 100%;
	    position: absolute;
	    top: 60px;
	    border-top: .5px solid #ccc;
	    border-bottom: .5px solid #ccc;
	    height: 30px;
	    display: flex;
	}
	.date-item{
		.select-item{
			height: 30px;
			line-height: 30px;
		}
		z-index: 2;
    	display: inline-block;
    	width: 100%;
        margin-top: 60px;
    	margin-bottom: 60px;
	}
}
body{
	margin: 0;
}